.formContainer {
  background-color: var(--card-colour);
  width: 320px;
  max-width: 320px;
  border-radius: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  box-shadow: 2.3px 2.3px 1.9px rgba(0, 0, 0, 0.01), 5.4px 5.3px 4.3px rgba(0, 0, 0, 0.015), 9.7px 9.5px 7.7px rgba(0, 0, 0, 0.018),
    16.1px 15.7px 12.8px rgba(0, 0, 0, 0.022), 26.5px 25.9px 21.2px rgba(0, 0, 0, 0.025), 46.2px 45.3px 37px rgba(0, 0, 0, 0.03),
    100px 98px 80px rgba(0, 0, 0, 0.04);
}
.form {
  border-radius: var(--border-radius);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form h1 {
  font-weight: 400;
}

.form input {
  border-radius: var(--border-radius);
  height: 40px;
  width: 100%;
  margin-top: 12px;
  padding-left: 10px;
  color: var(--text-color);
  border: 1px solid var(--input-border);
  background-color: var(--card-colour);
}

.title {
  font-size: 36px;
}

.btnContainer {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.signInBtn {
  border-radius: var(--border-radius);
  height: 35px;
  width: 30%;
  border: none;
  color: white;
  background-color: var(--primary);
  cursor: pointer;
}

.form a {
  font-size: 0.8rem;
  color: var(--secondary);
}

.bottomContainer button {
  border: none;
  background-color: inherit;
  color: var(--text-color);
  cursor: pointer;
}
