.formContainer {
  background-color: var(--card-colour);
  width: 320px;
  max-width: 320px;
  border-radius: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  box-shadow: 0px 0px 20px 5px var(--card-shadow);
}
.form {
  border-radius: var(--border-radius);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form h1 {
  font-weight: 400;
  color: var(--text-color) !important;
}

.form input {
  border-radius: var(--border-radius);
  height: 40px;
  width: 100%;
  margin-top: 12px;
  padding-left: 10px;
  color: var(--text-color);
  border: 1px solid var(--input-border);
  background-color: var(--card-colour);
}

.errors {
  font-size: 12px;
  color: var(--error);
  padding: 5px 0 0 11px;
}

.title {
  font-size: 36px;
}

.btnContainer {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.signInBtn {
  border-radius: var(--border-radius);
  height: 35px;
  /* width: 30%; */
  min-width: 30%;
  max-width: 120px;
  border: none;
  color: white;
  background-color: var(--primary);
  cursor: pointer;
}

.form a {
  font-size: 0.8rem;
  color: var(--secondary);
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
}

.darkLanguageContainer {
  display: flex;
  align-items: center;
}

.darkLanguageContainer div select {
  border: none;
  background-color: inherit;
  font-size: 0.8rem;
  margin-bottom: 5px;
  color: var(--secondary);
  border-radius: var(--border-radius);
}

.darkLanguageContainer button {
  border: none;
  margin-right: 10px;
  padding: 0;
  background-color: inherit;
  color: var(--text-color);
  cursor: pointer;
}

.languageSwitchContainer a {
  font-size: 0.8rem;
  color: var(--secondary);
}

.linksContainer {
  display: flex;
  align-items: center;
}

.linksContainer a {
  font-size: 0.8rem;
  color: var(--secondary);
  margin-left: 12px;
}
